[user]
	name = Joe Krall
[core]
	editor = vim
[init]
	defaultBranch = main
[diff]
	colorMoved = zebra
[includeIf "gitdir:~/personal/"]
  path = ~/personal/.gitconfig.personal
[includeIf "gitdir:~/work/"]
  path = ~/work/.gitconfig.work
